{% extends "base.html" %}

{% block site_content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Kataloge</h2>
                <p>Inhalte bearbeiten</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2">
                <div class="border rounded-1 border-2 border-primary d-flex flex-row justify-content-center align-items-center mb-2">
                    <div class="col col-xl-1"><img src="assets/img/01d_Abzeichen-Bronze.png" width="100" height="100"></div>
                    <div class="col fs-3 d-flex justify-content-center"><span>LA-Bronze</span></div>
                    <div class="col col-xl-1"><a href="admin-catalog-detail.html"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 50px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></a></div>
                </div>
                <div class="border rounded-1 border-2 border-primary d-flex flex-row justify-content-center align-items-center mb-2">
                    <div class="col col-xl-1"><img src="assets/img/01c_Abzeichen-Silber.png" width="100" height="100"></div>
                    <div class="col fs-3 d-flex justify-content-center"><span>LA-Silber</span></div>
                    <div class="col col-xl-1"><a href="admin-catalog-detail.html"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 50px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></a></div>
                </div>
                <div class="border rounded-1 border-2 border-primary d-flex flex-row justify-content-center align-items-center mb-2">
                    <div class="col col-xl-1"><img src="assets/img/01b_Abzeichen-Gold.png" width="100" height="100"></div>
                    <div class="col fs-3 d-flex justify-content-center"><span>LA-Gold</span></div>
                    <div class="col col-xl-1"><a href="admin-catalog-detail.html"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 50px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}