{% extends "base.html" %}

{% block site_content %}
    <div class="container pt-4 pb-2 py-xl-5">
        <div class="row mb-5">
            <div class="col"></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Admin Prüfungen</h2>
                <p>Prüfungen erstellen, einsehen und bearbeiten</p>
            </div>
            <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-primary d-flex align-items-center" role="button"><svg class="bi bi-plus-lg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 20px;">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
                    </svg>Prüfung</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="border rounded-1 border-3 border-primary m-2 p-2"><span class="fs-4 fw-bold d-flex justify-content-center">Archiv</span>
                    <div class="border rounded-1 border-2 border-primary d-flex align-items-center p-2 mt-1 mb-1">
                        <div class="col col-xl-8">
                            <div class="row">
                                <div class="col fw-medium"><span>Prüfungstitel</span></div>
                            </div>
                            <div class="row d-flex flex-row align-items-center">
                                <div class="col col-xl-4 d-flex justify-content-center"><span>25</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-success">15</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-danger">10</span></div>
                            </div>
                        </div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-bar-chart" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"></path>
                            </svg></div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></div>
                    </div>
                    <div class="border rounded-1 border-2 border-primary d-flex align-items-center p-2 mt-1 mb-1">
                        <div class="col col-xl-8">
                            <div class="row">
                                <div class="col fw-medium"><span>Prüfungstitel</span></div>
                            </div>
                            <div class="row d-flex flex-row align-items-center">
                                <div class="col col-xl-4 d-flex justify-content-center"><span>25</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-success">15</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-danger">10</span></div>
                            </div>
                        </div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-bar-chart" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"></path>
                            </svg></div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></div>
                    </div>
                    <div class="border rounded-1 border-2 border-primary d-flex align-items-center p-2 mt-1 mb-1">
                        <div class="col col-xl-8">
                            <div class="row">
                                <div class="col fw-medium"><span>Prüfungstitel</span></div>
                            </div>
                            <div class="row d-flex flex-row align-items-center">
                                <div class="col col-xl-4 d-flex justify-content-center"><span>25</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-success">15</span></div>
                                <div class="col col-xl-4 d-flex justify-content-center"><span class="text-danger">10</span></div>
                            </div>
                        </div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-bar-chart" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"></path>
                            </svg></div>
                        <div class="col col-xl-2 d-flex justify-content-center"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8">
                <div class="border rounded-1 border-3 border-primary m-2 p-2"><span class="fs-4 fw-bold d-flex justify-content-center">Aktiv</span>
                    <div class="border rounded-1 border-2 border-primary p-2 mt-1 mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-center"><span class="fw-bold">Prüfungstitel</span></div>
                                </div>
                                <div class="row">
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span>Abgegeben</span><span>25</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-success">Bestanden</span><span class="text-success">15</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-danger">Durchgefallen</span><span class="text-danger">10</span></div>
                                </div>
                            </div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-bar-chart" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-eye" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-lock" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                                    </svg></a></div>
                        </div>
                    </div>
                    <div class="border rounded-1 border-2 border-primary p-2 mt-1 mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-center"><span class="fw-bold">Prüfungstitel</span></div>
                                </div>
                                <div class="row">
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span>Abgegeben</span><span>25</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-success">Bestanden</span><span class="text-success">15</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-danger">Durchgefallen</span><span class="text-danger">10</span></div>
                                </div>
                            </div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-eye" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-unlock2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M8 0c1.07 0 2.041.42 2.759 1.104l.14.14.062.08a.5.5 0 0 1-.71.675l-.076-.066-.216-.205A3 3 0 0 0 5 4v2h6.5A2.5 2.5 0 0 1 14 8.5v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7z"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                                    </svg></a></div>
                        </div>
                    </div>
                    <div class="border rounded-1 border-2 border-primary p-2 mt-1 mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-center"><span class="fw-bold">Prüfungstitel</span></div>
                                </div>
                                <div class="row">
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span>Abgegeben</span><span>25</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-success">Bestanden</span><span class="text-success">15</span></div>
                                    <div class="col fw-semibold d-flex flex-column justify-content-center align-items-center"><span class="text-danger">Durchgefallen</span><span class="text-danger">10</span></div>
                                </div>
                            </div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-bar-chart" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-eye-slash" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"></path>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"></path>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-lock" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"></path>
                                    </svg></a></div>
                            <div class="col col-xl-1 d-flex align-items-center"><a class="text-reset" href="#"><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                                    </svg></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}