{% extends "base.html" %}

{% block site_content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col"></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Prüfung - LA-Abnahme 28-03-2026</h2>
                <p></p>
            </div>
            <div class="col d-flex justify-content-center align-items-center"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-2 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
            <div class="col-md-9 col-lg-10 col-xl-8 fs-3 fw-bold text-center d-flex justify-content-center align-items-center"><span class="fs-2 text-success">Du hast es geschafft ! Glückwunsch!</span></div>
            <div class="col-md-1 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-2 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
            <div class="col-md-9 col-lg-10 col-xl-8 fs-3 fw-bold text-center d-flex justify-content-center align-items-center"><span class="fs-6">Hier steht eine eigene Abschluss Nachricht für diese Prüfung</span></div>
            <div class="col-md-1 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-2 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
            <div class="col-md-9 col-lg-10 col-xl-8 fs-3 fw-bold text-center d-flex justify-content-center align-items-center"><span class="fs-4">Die Ergebnisse siehst du wenn diese Freigegeben wurden</span></div>
            <div class="col-md-1 col-lg-1 col-xl-2 d-flex justify-content-center align-items-center"></div>
        </div>
    </div>
{% endblock %}