{% extends "base.html" %}

{% block site_content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col"></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Übungen - Gruppenaufgaben</h2>
                <p>Hier findest du alle Praxis Aufgaben&nbsp;</p>
            </div>
            <div class="col d-flex justify-content-center align-items-center"></div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mt-2">
            <div class="col border rounded-1 border-3 border-primary p-2 mt-2">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center"><span>G-1</span></div>
                    <div class="col"><span class="fw-bold">Das Laufende A</span></div>
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 d-flex justify-content-center"><img class="img-fluid w-50" width="512" height="512" src="assets/img/01d_Abzeichen-Bronze.png"></div>
                    <div class="col col-sm-2 col-md-2 col-lg-1 col-xl-1 d-none d-sm-none d-md-flex justify-content-center">
                        <div class="d-flex flex-column align-items-center"><span>Sicherheit:</span><span class="fw-semibold text-success ms-3">100%</span></div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center transition-0-5"><a class="text-reset d-flex align-items-center" href="exercise-groups-detail.html"><br><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></a></div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col border rounded-1 border-3 border-primary p-2 mt-2">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="col col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center"><span>G-2</span></div>
                    <div class="col"><span class="fw-bold">Wassertransport</span></div>
                    <div class="col col-sm-2 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center"><img class="img-fluid w-50" width="512" height="512" src="assets/img/01c_Abzeichen-Silber.png"></div>
                    <div class="col col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">
                        <div class="d-flex flex-column align-items-center"><span>Sicherheit:</span><span class="fw-semibold text-danger ms-3">0%</span></div>
                    </div>
                    <div class="col col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center transition-0-5"><a class="text-reset d-flex align-items-center" href="exercise-groups-detail.html"><br><svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 40px;">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                            </svg></a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}